{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "@typescript-eslint",
    "import-helpers",
    "jest"
  ],
  "extends": [
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": [
          "./services/*/tsconfig.json",
          "./packages/*/tsconfig.json"
        ]
      }
    }
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "info"
        ]
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "padded-blocks": [
      "error",
      {
        "classes": "always"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          "/^~/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true
      }
    ]
  }
}
