dist
node_modules
mysql/data

*.env*
!.env.example
.eslintcache

*.pem
*.pub

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
